@using (Html.BeginForm("TimKiemAdmin", "HomeAdmin", FormMethod.Get))
{
    <input type="text" name="filter" class="search-input" placeholder="Nhập nội dung cần tìm...." />
    <button type="submit" class="search-button button">Tìm kiếm</button>
}

